 <ion-view view-title="continents">
     
      <div class="header2">
                    <div class="headerlogo col-xs-3">
                        <a href="#/app/home">
                        <img src="./img/emirateslogo.png" class="headerlogo">
                        </a>
                    </div>
          <p> Choose your Destination!</p>
          <div class="container-fluid">
        <div class="row">
         <div class="region1 col-xs-12">
            <div class="regiondesc col-xs-6">
                <h1> North America</h1>
                <p>Food Fights make it more fun this week to fly with Emirates and Do it yourself</p>
             </div>
             <div class="regionimg col-xs-6">
                 <img src="./img/paris.jpg">
             </div>
            </div>
         </div>
         
        <a href="#/app/foodie">
         <div class="region1 col-xs-12">
             <div class="regionimg col-xs-6">
                 <img src="./img/paris.jpg">
             </div>
            <div class="regiondesc col-xs-6">
                <h1> Europe</h1>
                <p>Food Fights make it more fun this week to fly with Emirates and Do it yourself</p>
             </div>
        </div>
        </a>
              
              <div class="region1 col-xs-12">
            <div class="regiondesc col-xs-6">
                <h1> China</h1>
                <p>Food Fights make it more fun this week to fly with Emirates and Do it yourself</p>
             </div>
             <div class="regionimg col-xs-6">
                 <img src="./img/paris.jpg">
             </div>
            </div>
         </div>
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
</ion-view>