<ion-view title="Travel Track">
  <ion-content class="personas">
    <div class="foodie">
      <div class="persona-container">
        <h1><a href="/foodie">Foodies</a></h1>
      </div>
      <div class="bottom-bar">
        <div class="followers-count">51 Followers</div>
        <div class="followers-list">
          <i class="icon ion-person"></i>
          <i class="icon ion-person"></i>
          <i class="icon ion-person"></i>
        </div>
      </div>
    </div>
    <div class="fun">
      <div class="persona-container">
        <h1><a href="#/app/fun">Fun</a></h1>
      </div>
      <div class="bottom-bar">
        <div class="followers-count">51 Followers</div>
        <div class="followers-list">
          <i class="icon ion-person"></i>
          <i class="icon ion-person"></i>
          <i class="icon ion-person"></i>
          <i class="icon ion-person"></i>
          <i class="icon ion-person"></i>
        </div>
      </div>
    </div>
    <div class="family">
      <div class="persona-container">
        <h1><a href="/family">Family</a></h1>
      </div>
      <div class="bottom-bar">
        <div class="followers-count">51 Followers</div>
        <div class="followers-list">
          <i class="icon ion-person"></i>
          <i class="icon ion-person"></i>
          <i class="icon ion-person"></i>
          <i class="icon ion-person"></i>
          <i class="icon ion-person"></i>
          <i class="icon ion-person"></i>
          <i class="icon ion-person"></i>
        </div>
        </div>
      </div>
    </div>
    <div class="wellness">
      <div class="persona-container">
        <h1><a href="/wellness">Wellness</a></h1>
      </div>
      <div class="bottom-bar">
        <div class="followers-count">51 Followers</div>
        <div class="followers-list">
          <i class="icon ion-person"></i>
          <i class="icon ion-person"></i>
          <i class="icon ion-person"></i>
        </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
