<ion-view view-title="Home">
  <ion-content class="personas">
    <div class="foodies">
      <div class="buttoncontainer">
        <h1>Foodies</h1>
        <a href="#/app/foodies">
            <button class="button button">Eat with Emirates</button>
        </a>
      </div>
      <div class="bottombarcontainer">
        <ul class="bottombar">
            <li class="followerscount"> Followers Count</li>
            <li class="followersavatar"> <i class="icon ion-person"> </li>
            <li class="followersavatar"> <i class="icon ion-person"> </li>
            <li class="followersavatar"> <i class="icon ion-person"> </li>
            <li class="followersavatar"> <i class="icon ion-person"> </li>
            <li class="followersavatar"> <i class="icon ion-person"> </li>
            <li class="followersavatar"> <i class="icon ion-person"></li>

        </ul>
      </div>
    </div>
    <div class="fun">
      <div class="buttoncontainer">
          <h1>Foodies</h1>
          <a href="#/app/fun">
              <button class="button button"> Eat with Emirates</button>
          </a>
      </div>
      <div class="bottombarcontainer">
        <ul class="bottombar">
            <li class="followerscount"> Followers Count</li>
            <li class="followersavatar"> <img src="#">1</li>
            <li class="followersavatar"> <img src="#">2</li>
            <li class="followersavatar"><img src="#">3</li>
            <li class="followersavatar"> <img src="#">4</li>
            <li class="followersavatar"> <img src="#">5</li>
        </ul>
      </div>
    </div>
  </ion-content>
</ion-view>
