/* Empty. Add your own CSS if you like */
.bar-stable {
    background-color: #d71921 !important;
    margin: 0;
    padding: 0;
}

.title h1 {
    text-align: center;
}
body {
    margin: 0;
}
.row {
    padding: 0;
}
h1 {
    margin: 0;
}
 .pane {
        background-image: url(../img/backgroundimagered.jpg) no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: 100% 100%;
        width: 100%;
        height: auto;
    }
.loginform {
    color: aqua;
    padding-top: 80px;
}
.loginbutton {
    background-color: red;
}
.header {
    text-align: center;
    background-color: #bc0109;
    height: 80px;
}

.header li {
    display: inline-block;
}

.headerlogo {
    background-color: white;
    width: 30%;
    height: 100%;
    text-align: center;
}

.headerlogo img {
    margin-top: 15px;
    height: 50%;
    width: 50%;
}

.logoquestion {
    background-color: red;
}
.personas {
    display: flex;
    flex-direction: column;
    flex-flow: center;
}

.buttoncontainer {
    display: block;
    text-align: center;
    height: 20px;

}

.bar .title {
    margin: 0;
}

.bottombar .followerscount {
    padding-left: 20px;
    text-align: left;
}
.foodies {
   background-image: url(../img/foodies.jpg);
    height: 270px;
    overflow: hidden;
    width: 100%;


    }
.foodies .bottombar li {
    display: inline-block;
}

.foodies h1 {
    text-align: center;
    color: white;
    margin-top: 100px;
<<<<<<< HEAD
    font-size: 20px;
=======
}

.buttoncontainer {
    display: block;
    text-align: center;

>>>>>>> edaf48d766a92dfd895230b74f3ec7ebd7345eed
}
.foodies button {
    margin-top: 0px;
    height: auto;
}

.foodies .bottombar {
    margin-top: 50px;
    color: white;
}
.foodies .bottombar .followersavatar {
    float: right;
}

.foodies .bottombar .followersavatar li {
    display: block;
}

.foodies .bottombar .followersavatar img {
    height: auto;
    width: 5%;
    border-radius: 50%;
}

.fun {
   background-image: url(../img/fun.jpg);
        height: 270px;
        overflow: hidden;
    width: 100%;
    }
.fun li {
    display: inline-block;
}

.fun h1 {
    text-align: center;
    color: white;
    margin-top: 100px;
    font-size: 20px;
}

.fun button {
    float: center;
    margin-top: 0px;
}

.fun .bottombar {
    margin-top: 50px;
    color: white;
}

.fun .bottombar .followersavatar {
    float: right;
}

.fun .bottombar .followersavatar img {
     height: auto;
    width: 5%;
    border-radius: 50%;
}
.wellness {
   background-image: url(../img/wellness.jpg);
       width: 100%;
        height: 270px;
        overflow: hidden;
    float: right;
    }
.wellness li {
    display: inline-block;
}

.wellness h1 {
    text-align: center;

    color: white;
    margin-top: 100px;
}

.wellness button {
    float: center;
    margin-top: 0px;
     font-size: 20px;
}

.wellness .bottombar {
    margin-top: 50px;
    color: white;
}

.wellness .bottombar .followersavatar {
    float: right;
}

.wellness .bottombar .followersavatar img {
     height: auto;
    width: 5%;
    border-radius: 50%;
}
.family {
   background-image: url(../img/family.jpg);
       width: 100%;
        height: 270px;
        overflow: hidden;
    float: right;
    }
.family li {
    display: inline-block;
}

.family h1 {
    text-align: center;
    color: white;
    margin-top: 100px;
     font-size: 20px;
}
.famliy button {
    float: center;
    margin-top: 0px;
}

.famliy .bottombar {
    margin-top: 50px;
    color: white;
}
.family .bottombar .followersavatar {
    float: right;
}

.family .bottombar .followersavatar img {
    height: auto;
    width: 5%;
    border-radius: 50%;
}
.box-shadow-menu {
  position: relative;
  padding-left: 1.25em;

}
.box-shadow-menu:before {
  content: "";
  position: absolute;
  left: 0;
  margin-top: 10px;
  width: 1em;
  height: 0.15em;
  background: black;
  box-shadow:
    0 0.25em 0 0 black,
    0 0.5em 0 0 black;
}

.useravatar {
}

.useravatar img {
    height: 30px;
    border-radius: 50%;
    margin-left: 20px;
}

.regiondesc {
    text-align: center;
    height: 180px;
    width: 70%;
    padding: 10px;
    background-color: white;
}

.regiondesc h1 {
    margin-top: 20px;
    font-size: 25px;
}

.regiondesc p {
    font-size: 10px;
}
.regionimg {
    height: 180px;
    width: 70%;
    background-color: white;
}

.weekcal {
    background-color: black;

