
.bar-stable {
    background-color: #d71921 !important;
    margin: 0;
    padding: 0;
}

.foodie {
    background-color: #F9C80E;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-content: center;
}

.fun {
    background-color: #FE7F2D;
    text-align: center;
    height: 150px;
}

.family {
    background-color: #662E9B;
    text-align: center;
    height: 150px;
}

.wellness {
    background-color: #43BCCD;
    text-align: center;
    height: 150px;
}

.persona-container {
    text-align: center;
    height: 50%;
}
.persona-container h1 a {
    font-family: ‘Metrophobic’, Arial, serif;
    font-weight: 700;
    text-decoration: none;
    color: white;
    margin: auto;
    line-height: 100px;
}

.bottom-bar {
    height: 50%;
}

.followers-count {
    font-family: ‘Metrophobic’, Arial, serif;
    font-weight: 400;
    text-align: center;
    color: white;
}

.followers-list {
    color: white;
    font-size: 22px;
    text-align: center;
}
